
/.vs
/PropPulse/obj/Debug
.vs/PropPulse/v17/DocumentLayout.json
.vs/PropPulse/v17/DocumentLayout.backup.json
.vs/PropPulse/v17/.suo
.vs/PropPulse/v17/.futdcache.v2
.vs/PropPulse/FileContentIndex/fa1ff15d-a72c-4e84-abc4-24c4b0a212ac.vsidx
.vs/PropPulse/FileContentIndex/6eaecb83-f210-44a0-b092-5afe2448d83a.vsidx
.vs/PropPulse/FileContentIndex/23963478-2f06-4444-9bd3-36ccecf30345.vsidx
.vs/PropPulse/FileContentIndex/116e43b3-e146-4c38-9a08-08fb463297d9.vsidx
.vs/PropPulse/FileContentIndex/0d37b19a-2c77-4739-bae4-efde6bd00f19.vsidx
.vs/PropPulse/DesignTimeBuild/.dtbcache.v2
.vs/PropPulse/config/applicationhost.config
.vs/ProjectEvaluation/proppulse.strings.v9.bin
.vs/ProjectEvaluation/proppulse.projects.v9.bin
.vs/ProjectEvaluation/proppulse.metadata.v9.bin
