@{
    ViewData["Title"] = "İlanlarım";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">İlanlarım</h2>

    <ul class="list-group">
        @foreach (var ad in Model)
        {
            <li class="list-group-item">
                @ad
            </li>
        }
    </ul>

    <a href="@Url.Action("Create", "Properties")" class="btn btn-success mt-4">Yeni İlan Oluştur</a>
</div>
